#game div {
  border: 3px solid black;
  width: 20%;
  height: 250px;
  margin: 10px;
}

.matched {
  pointer-events: none;
}

#start-button {
  font-size: 3rem;
}

#restart-button {
  font-size: 3rem;
}
