#pokemon-area {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
.card {
    width: 250px;
    background-color: lightsteelblue;
    border: 8px solid steelblue;
    border-radius: 8px;
    padding: 17px;
  }
  
.card p {
    font-family: sans-serif;
  }

body {
    text-align:center;
}

button {
    padding: 15px;
    background-color: darkgreen;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
    background-color: darkred;
}