{% extends 'base.html'  %}
{% block title %}Add New Post{% endblock %}

{% block content %}

<h1 class="my-5">Add Post for {{user.full_name}}</h1>

<form action="/users/{{user.id}}/posts/new" method="POST">
    <div class="row mb-3">
        <div class="col-1">
            <label for="title" class="col-form-label">Title</label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" name="title">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1">
            <label for="content" class="col-form-label">Content</label>
        </div>
        <div class="col-5">
            <textarea class="form-control" name="content"></textarea>
        </div>
    </div>
    {% for tag in tags %}
    <div>
        <input type="checkbox" class="form-check-input" name="tags" value="{{tag.id}}">
        <label for="{{tag.name}}" class="form-check-class">{{tag.name}}</label>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <a href="/users/{{user.id}}"><button type="button" class="btn btn-warning">Cancel</button></a>
                <button type="submit" class="btn btn-success ms-3">Add</button>
            </div>
        </div>
    </div>

</form>

{% endblock %}