.Card {
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(74, 74, 74, 0.9);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    width: 40vw;
}

.Card > a {
    color: white;
}