.VendingMachine {
    background-image: url("https://images.unsplash.com/photo-1575224526797-5730d09d781d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160");
    width: 100vw;
    height: 100vh;
    background-size: contain;
    text-align: center;
}



.col-auto > a {
    text-decoration: none;
    font-size: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    color: black;
  }

  .col-auto > a:hover {
    text-decoration: underline;
  }
  
.VendingMachine > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  
.VendingMachine > h1 {
      margin: 0rem;
      color: white;
      padding: 2rem;
  }