input {
    width: 420px;
    height: 25px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid gray;
}

.NewBoxForm-btn {
    background-color: seagreen;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    height: 2.5rem;
}


label {
    font-size:1.5rem;
    margin-right: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.field {
    margin-bottom: 1rem;
    display: flex;
    justify-content: end;
}

h3 {
    font-size: 3rem;
}

span {
    margin-bottom: 1rem;
}