.Color {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    text-align: center;

  }
  
  .Color a {
    color: white;
  }